---
redirect_from: /p1/turak/siutak/forni_di_sopra
kepekNelkul: true
---
<div itemprop="description" class="description">
<h2>Bérletárak</h2>
<p>Az idei évben a Promotur vállalat kétféle terminus árat kínál.
Különösen figyelmet érdemel a január 8-28. között adott szuperkedvezmény.
</p>

<h4> Dec 27 – Január 7. &nbsp;&nbsp; és &nbsp;&nbsp; Január 29 – Március 15. &nbsp;&nbsp; között </h4>

<table border="1" cellpadding="5" cellspacing="0" style="white-space: nowrap;">
{% if false %} <thead><tr><th colspan="2"> Dec 27 – Január 7. &nbsp;&nbsp; és &nbsp;&nbsp; Január 29 – Március 15. &nbsp;&nbsp; között </th></tr></thead> {% endif %}
<tbody>
<tr>
<td>3 napos</td>
<td>75 €</td>
</tr>
<tr>
<td>4 napos</td>
<td>96 €</td>
</tr>
<tr>
<td>5 napos</td>
<td>116 €</td>
</tr>
<tr>
<td>6 napos</td>
<td>135 €</td>
</tr>
</tbody>
</table>

<p></p>

<h4> Január 8 – 28. &nbsp; között promociós SZUPER ÁR </h4>

<table border="1" cellpadding="5" cellspacing="0" style="white-space: nowrap;">
{% if false %} <thead><tr><th colspan="2"> Január 8 – 28. &nbsp; között promociós SZUPER ÁR </th></tr></thead> {% endif %}
<tbody>
<tr>
<td>3 napos</td>
<td>55 €</td>
</tr>
<tr>
<td>4 napos</td>
<td>64 €</td>
</tr>
<tr>
<td>5 napos</td>
<td>77 €</td>
</tr>
</tbody>
</table>

</div>
