---
title: Galéria — Popeye Leskó Kalandtúrák
css: ["carousel.css"]
---
<style>
  #galeria ul.kategoria {
    display: flex;
    flex-flow: column;
  }
  #galeria summary {
    background-position: left center;
    background-repeat: no-repeat;
  }
  #galeria summary img {
    display: inline;
    min-width: 2em;
    min-height: 2em;
    max-width: 4em;
    max-height: 4em;
  }
</style>

<section class="main" id="galeria">
<h1>Képgaléria</h1>

{% for kat in site.data.turak.kategoriak %}
<ul class="kategoria">
<span id="kategoriaId" hidden>{{kat.kategoriaId}}</span>
{% for tura in kat.turak %}
<li class="tura">
  <details>
    <summary class="img">
      <!-- {% if tura.kepek %} <img src="/kepek/{{tura.kepek[0]}}"> {% endif %} -->
      <a href="#{{kat.kategoriaId}}/{{tura.turaId}}" {% if tura.kepek %}class="img" style="background-image:url(/kepek/{{tura.kepek[0]}})"{% endif %} >
        {{tura.nev}}
      </a>
    </summary>
    <div class="carousel  imageViewer gallery_page">
      <ul class="content-cont cf">
        {% for kep in tura.kepek %}
        <li class="cf" id="{{kep}}">
          <div class="img" style="background:url(/kepek/{{kep}})"></div>
        </li>
        {% endfor %}
      </ul>
      <div class="controls">
        <div class="left"><span class="control"></span></div>
        <div class="right"><span class="control"></span></div>
        <ul>
          {% for kep in tura.kepek %}
          <li class="{{kep}}">
            <span class="l"></span>
            <span class="r"></span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </details>
</li>
{% endfor %}
</ul>
{% endfor %}
</section>

<script type="text/javascript">
document.getElementById('galeria').addEventListener('click', function (event) {
  if (event.target.nodeName === 'A') {
    let parent= event.target.closest('details');
    if (!parent) return;
    if (parent.hasAttribute('open'))  parent.removeAttribute('open');
    else  parent.setAttribute('open', null);
  }
}, true);
</script>
