---
layout: weblapkeret
mainid: galeria
published: true
---
<section class="main" id="{{page.mainid}}" mv-app="{{page.mainid}}">
{% for kat in site.data.turak.kategoriak %}
<div class="kategoria">
	<span id="kategoriaId" hidden>{{kat.kategoriaId}}</span>
	<h3>{{kat.kategoriaNev}}</h3>
	{% for tura in kat.turak %}
	<article class="card tura">
		<a href="/{{kat.kategoriaId}}/{{tura.turaId}}">
			{% if tura.miniKep %}
			<div class="img" style="background-image:url(/kepek/{{tura.miniKep.ut}})"></div>
			<img src="/kepek/{{kat.kategoriaId}}/{{tura.turaId}}/{{tura.miniKep.nev}}" hidden>
			{% endif %}
			<h4>{{tura.nev}}</h4>
			<p class="button">Részletek ➺</p>
		</a>
	</article>
	{% endfor %}
</div>
{% endfor %}
</section>
