---
layout: weblapkeret
mainid: naptar
title: Naptár - Popeye Leskó Kalandtúrák
published: true
---
<section class="main" id="{{page.mainid}}">
{% for tura in site.data.naptar %}
	<article class="card tura">

		{% if tura.idopont %}
		<p class="idopont">{{tura.idopont}}</p>
		{% endif %}
		{% if tura.idopontok %} {% for idopont in tura.idopontok %}
		<p class="idopont">{{idopont}}</p>
		{% endfor %} {% endif %}

		<a class="slideshow" href="/{{tura.kategoriaId}}/{{tura.turaId}}">
		</a>
	</article>
</div>
{% endfor %}
</section>
