---
title: Naptár — Popeye Leskó Kalandtúrák
published: true
---
<section class="main" id="naptar">
{% for turaUtvonal in site.data.naptar %}
	{% assign katEsTuraId = turaUtvonal | split:"/" %}
	{% assign kategoriaId = katEsTuraId | first %}
	{% assign turaId      = katEsTuraId | last %}
	{{ katEsTuraId[0] }} / {{ katEsTuraId[1] }}
	<article class="card tura">
		<a class="slideshow" href="/{{turaUtvonal}}">
			{% assign kategoria = site.data.kategoriak | where: "kategoriaId",kategoriaId | first %}
			{% assign leiras = kategoria.turak | where: "turaId",turaId | first %}
			{% assign kepek = site.data.kepek[kategoriaId][turaId] %}
			{% include slideshow.html kepek=kepek %} 
			{% include turainfo.html leiras=leiras %} 
		</a>
	</article>
</div>
{% endfor %}
</section>
