<section class="main" id="{{page.mainid}}" mv-app="{{page.mainid}}">
{% assign kategoriaId = include.kategoriaId %}
{% assign kat = site.data.kategoriak | where: "kategoriaId",kategoriaId | first %}
<div class="kategoria">
	<span id="kategoriaId" hidden>{{kat.kategoriaId}}</span>
	{% for leiras in kat.turak %} {% unless leiras.regi %}
	<article class="card leiras">
		{% assign turaId = leiras.turaId %}
		<a class="slideshow" href="/{{kategoriaId}}/{{turaId}}">
			{% assign first = true %}
			{% assign kepek = site.data.kepek[kategoriaId][turaId] %}
			{% if kepek %} {% for kep in kepek %}
			<img class="slide" src{%unless first%}-async{%endunless%}="/kepek/{{kep}}">
			{% assign first = false %}
			{% endfor %} {% endif %}
			<div class="overlay">
				<h4>{{leiras.nev}}</h4>

				{% assign turak = site.data.naptar | where: "turaId",turaId %}
				{% for tura in turak %}
				{% if tura.idopont %}
				<p class="idopont">{{tura.idopont}}</p>
				{% endif %}
				{% if tura.idopontok %} {% for idopont in tura.idopontok %}
				<p class="idopont">{{idopont}}</p>
				{% endfor %} {% endif %}
				{% endfor %}

				<p>
					<span class="ar" alt="{{leiras.arOpciok}}">{{leiras.ar}}</span>
					<span class="button">Részletek ➺</span>
				</p>
			</div>
		</a>
	</article>
	{% endunless %} {% endfor %}
</div>
</section>