<h2>Elérhetőségeink</h2>
<section id="elerhetoseg">
  <style>
    #elerhetoseg .grow03 { flex-grow: 0.3; }
  </style>
  <div class="grow03">
    <h3>Email</h3>
    <ul>
      <li><a class="address">in<span class="hidden">.nospan.</span>fo<span class="fa-at">(ku<span class="hidden">-at-</span>kac)</span>popeye<span class="hidden">.nospan.</span><span>lesko.</span>hu</a></li>
    </ul>
  </div>
  <div>
    <h3>Laci</h3>
    <ul>
      <li>22/322728</li>
      <li>20/9410429</li>
    </ul>
  </div>
  <div>
    <h3>Marcsi</h3>
    <ul>
      <li>22/322728</li>
      <li>30/9579495</li>
  </div>
</section>
