{% assign leiras = include.leiras %}
			<div class="overlay">
				<h4>{{leiras.nev}}</h4>
				{% if leiras.idopont %}
				<p class="idopont">{{leiras.idopont}}</p>{%
				 endif %}{%
				 if leiras.idopontok %}{% for idopont in leiras.idopontok %}
				<p class="idopont">{{idopont}}</p>
				{% endfor %}{% endif %}{%
				 endfor %}
				{% if leiras.ar %}
				<p>
					<span class="ar" alt="{{leiras.arOpciok}}">{{leiras.ar}}</span>
					<span class="button">Részletek ➺</span>
				</p>
				{% else %}
				<p class="button">Részletek ➺</p>
				{% endif %}
			</div>
