---
layout: weblapkeret
path: page.url | split: "/"
kategoriaId: path[1]
turaFile: path[2] | split: "."
turaId: turaFile[0]
kategoria: site.data.turak.kategoriak | where: "kategoriaId", kategoriaId | first
tura: kategoria.turak | where: "turaId", turaId | first
kep0: tura.kepek | first
---
{% assign path = page.url | split: "/" %}
{% assign kategoriaId = path[1] %}
{% assign turaFile = path[2] | split: "." %}
{% assign turaId = turaFile[0] %}
{% assign kategoria = site.data.turak.kategoriak | where: "kategoriaId", kategoriaId | first %}
{% assign tura = kategoria.turak | where: "turaId", turaId | first %}
{% assign kep0 = tura.kepek | first %}
{% capture page.metaimage %}/kepek/{{kep0.ut}}{% endcapture %}

<section class="main" id="main">
<article class="main">
	<div class="slideshow">
		{% if tura.kepek %} {% for kep in tura.kepek %}
		<img class="slide" src-lazy="/kepek/{{kep.ut}}">
		{% endfor %} {% endif %}
		<div class="overlay">
			<h1 itemprop="name">{{ tura.nev }}</h1>
		</div>
	</div>
	<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="offer" hidden>
		<div class="price">
			<p>Ár: <span itemprop="price">{{ tura.ar }}</p>
			<p class="price_comment">{{ tura.arOpciok }}</p>
		</div>
		<div itemprop="seller" itemscope="" itemtype="http://schema.org/Organization" hidden>
			<span itemprop="name">Popeye Leskó</span>
		</div>
	</div>
{{ content
}}</article>
</section>
