---
layout: weblapkeret
---
<section class="main" id="main" mv-app="kapcsolat" mv-storage="https://github.com/popeyelesko/popeyelesko.github.io/turak.json">
<article mv-value="[turaData(kategoriak)]">
	<h1 itemprop="name" property="nev"></h1>
	<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="offer" hidden>
		<div class="price">
			<p>Ár: <span itemprop="price" property="ar"></p>
			<p class="price_comment" mv-property="arOpciok"></p>
		</div>
		<div itemprop="seller" itemscope="" itemtype="http://schema.org/Organization" hidden>
			<span itemprop="name">Popeye Bt.</span>
		</div>
	</div>
{{ content
}}</article>
</section>
