---
layout: weblapkeret
---
{% assign path = page.url | split: "/" %}
{% assign kategoriaId = path[1] %}
{% assign turaFile = path[2] | split: "." %}
{% assign turaId = turaFile[0] %}
{% assign kategoria= site.data.turak.kategoriak | where: kategoriaId, kategoriaId | first %}
{% assign tura= kategoria.turak | where: turaId, turaId | first %}

<section class="main" id="main">
<article class="main">
	<h1 itemprop="name">{{ tura.nev }}</h1>
	<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="offer" hidden>
		<div class="price">
			<p>Ár: <span itemprop="price">{{ tura.ar }}</p>
			<p class="price_comment">{{ tura.arOpciok }}</p>
		</div>
		<div itemprop="seller" itemscope="" itemtype="http://schema.org/Organization" hidden>
			<span itemprop="name">Popeye Leskó</span>
		</div>
	</div>
{{ content
}}</article>
</section>
