 <!doctype html>
<html lang="hu">
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.title }}">
<meta name="author" content="Popeye Leskó">
<!-- -->
<link rel="apple-touch-icon" sizes="152x152" href="/+site/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/+site/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/+site/icons/favicon-16x16.png">
<link rel="manifest" href="/+site/icons/webmanifest.json">
<meta name="theme-color" content="#2d89ef">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-square150x150logo" content="/+site/icons/mstile-150x150.png" />
<!-- -->
<link rel="stylesheet" href="https://get.mavo.io/mavo.css" />
<link rel="stylesheet" href="/+site/style.css" />
{% if page.css %}{% for css in page.css
%}<link rel="stylesheet" href="/+site/{{ css }}" />{%
endfor %}{% endif %}
</head>


<body>
<header id="fejlec">
{% include fejlec.html %}
</header>


{{ content }}

<footer id="lablec">
{% include lablec.html %}
</footer>

<script src="https://get.mavo.io/mavo.js"></script>
<script src="/+site/site.js"></script>
</body>
</html>
