/*
* Közös
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	--max-width: 80em;
}

[hidden], .hidden {
	display: none;
}

ul li {
	list-style-type: none;
}

ul, ol {
	padding: 0;
	margin: 0;
}

.flexrow {
	display: flex;
	align-items: center;
	/*justify-content: space-around;*/
}


/*
* Link színezés
*/

a {
	text-decoration: none;
	font-weight: bolder;
	transition: all 0.1s ease-in;
	color: #cac2b2;
	color: #bfa36c;
	color: #ffdd99;
	color: wheat;
	color: burlywood;
	color: #f0f080;
	color: #ffddbb;
}
/*
a:visited, a:focus, a:hover, a:active {
	outline: 0;
}*/

/*
* The order of :visited, :focus, :hover, :active matters, as it declares its precedence, last effective one being the dominant:
* - an element being pressed is :active
* - overriding the color effective under the mouse :hover
* - more dominant than the color of the (keyboard) :focus element
* - least important being the feedback of :visited links
*/
/* a:visited { color: burlywood; } *//* Meglátogatott linkek nem kapnak saját színt: nem mutat jól a navigációs fejlécen */
a.active { color: #ffb860; }
a:focus, a:hover { color: #ffff40; color: gold; }
a:active { color: orange; }


/*
* Szöveg színezés
*/

body {
	color: #cac2b2;
	color: #bfa36c;
	color: #ffddbb;
	color: #ffdd99;
	color: #f0f080;
	color: #f0f040;
	color: gold;
	color: goldenrod;
	color: #ffb860;
	color: wheat;
	color: burlywood;
	color: lightgoldenrodyellow;
}

.highlight {
	font-weight: bold;
	font-size: 1.05em;
	color: goldenrod;
	color: gold;
	color: #f0f040;
	color: #f0f080;
	color: #ffddbb;
	color: #ffdd99;
	color: #ffb860;
}

section>article>h1 {
	margin: 0.5em 3em 1em;
	font-size: 2.25rem;
	font-weight: bold;
	color: burlywood;
	color: wheat;
	color: lightgoldenrodyellow;
	color: #ffdd99;
	color: #ffb860;
	color: gold;
	color: goldenrod;
}

section>article {
	font-size: 1.2em;
	--background: #90602080; /* barack *//* -> .container */
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	--background: #20200080; /* világos barna (fapác) */
	--fade-len: 4em;
	padding: calc(5em - var(--fade-len));
	margin: calc(var(--fade-len) + 2em);
	box-shadow: 0em 0em var(--fade-len) calc(var(--fade-len) - 4px) var(--background);
	border-radius: calc(var(--border-radius) + 4em);
	background: var(--background);
}

body>footer h2 {
	margin: 0;
	color: #cac2b2;
	color: #bfa36c;
	color: burlywood;
	color: wheat;
	color: lightgoldenrodyellow;
	color: #ffdd99;
	color: #ffb860;
	color: gold;
	color: goldenrod;
}
body>footer h3 {
	margin: 0;
	color: #cac2b2;
	color: #bfa36c;
	color: burlywood;
	color: wheat;
	color: goldenrod;
	color: gold;
	color: #f0f040;
	color: #f0f080;
	color: #ffddbb;
	color: #ffdd99;
	color: #ffb860;
}

body>footer {
	color: #cac2b2;
	color: #bfa36c;
	color: #ffdd99;
	color: wheat;
	color: burlywood;
}


/*
* Tablet méretű kijelzők
*/

@media only screen and (max-width: 1023px) {
	body {
		font-size: 0.8em;
		line-height: 1.5em;
	}
}


/*
* Mobil méretű kijelzők
*/

@media handheld, only screen and (max-width: 767px) {
	body {
		font-size: 16px;
		-webkit-text-size-adjust: none;
	}
	body, .container {
		width: 100%;
		min-width: 0;
		min-height: 32em;
		margin: 0;
	}
	
	.tura {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}
}


/*
* Keret méretezés
*/

body {
	transition: all 0.1s ease-in;
	background: url("/kepek/back.jpg");
	margin: 0;
	--border-radius: 2em;
}

body>header, body>footer {
	width: 100%;
	text-align: center;
}

body>header>* {
	max-width: var(--max-width);
	margin: 0 auto;
}

body>footer>section {
	max-width: 64em;
	max-width: calc(var(--max-width) * 0.8); */
	margin: 2em auto;
}

/* body>header {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
} */

body>footer {
	padding: 2em;
	/* border-radius: var(--border-radius) var(--border-radius) 0 0; */
}

.container {
	max-width: var(--max-width);
	/* min-width: 755px; */
	width: 100%;
	padding: 0;
	margin: 2em auto 3em;
	--border-radius: 4em;
	border-radius: var(--border-radius);
	overflow: hidden;
	position: relative;
}

.main {
	padding: 20px;
	position: relative;
}


/*
* Keret színezés
*/

body>header {
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	--background: #90602080; /* barack *//* -> .container */
	--background: #2d1a06e6; /* sötétbarna */
	--background: #202000c0; /* középbarna */
	--background: #20200080; /* világos barna (fapác) */
	--fade-len: 1em;
	box-shadow: 0 0 20px 0 black;
	box-shadow: 0 0 0.5em 0.4em #20200080;
	box-shadow: 0 0 20px 4px rgba(72, 20, 20, 0.8);
	box-shadow: 0em 0em var(--fade-len) var(--fade-len) var(--background);
	box-shadow: 0em 0em var(--fade-len) calc(var(--fade-len) - 4px) var(--background);
	box-shadow: 0em var(--fade-len) var(--fade-len) 0em var(--background);
	box-shadow: 0em calc(var(--fade-len) - 4px) var(--fade-len) 0em var(--background);
	background: var(--background);
	overflow: visible;
}

body>footer {
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	--background: #90602080; /* barack *//* -> .container */
	--background: #2d1a06e6; /* sötétbarna */
	--background: #202000c0; /* középbarna */
	--background: #20200080; /* világos barna (fapác) */
	--fade-len: 1em;
	box-shadow: 0 0 20px 0 black;
	box-shadow: 0 0 0.5em 0.4em #20200080;
	box-shadow: 0px -20px 24px 0px #30200cf0;
	box-shadow: 0 0 20px 4px rgba(72, 20, 20, 0.8);
	box-shadow: 0em 0em var(--fade-len) var(--fade-len) var(--background);
	box-shadow: 0em 0em var(--fade-len) calc(var(--fade-len) - 4px) var(--background);
	background: var(--background);
	overflow: hidden;
}

.container {
	--background: rgba(202, 131, 90, 0.72);
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	--background: #90602080; /* barack *//* -> .container */
	--background: rgba(230, 147, 75, 0.37);
	box-shadow: 0 0 10px 5px rgba(62, 31, 4, 0.66);
	/*box-shadow: 0em 0em var(--fade-len) calc(var(--fade-len) - 4px) var(--background);*/
	background: var(--background);
}


/*
* Fejléc — navigációs menü
*/

body>header nav {
	display: flex;
	box-sizing: border-box;
	padding: 0 2em;
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#35000000, endColorstr=#35000000); */
}

body>header nav {
	font-size: 1.25em;
	font-weight: bold;
	/* font-family: Helvetica, Arial, sans-serif; */
}

body>header nav span[grow] {
	flex-grow: 1;	/* kitölti a teljes szabad teret a gombok között */
}

body>header nav a {
	padding: 0.2em 0.5em;
	margin: 0.5em 1em;
	border-radius: 0.5em;
	border-radius: calc(var(--fade-len) + 0.1em);
	--fade-len: 0.5em;
	/* box-shadow: 0 0 20px 0 black; */
	/* box-shadow: 0 0 0.5em 0.4em #20200080; */
	/* box-shadow: 0 0 20px 4px rgba(72, 20, 20, 0.8); */
}

body>header nav a.active {
	--background: #2d1a06e6; /* sötétbarna */
	--background: #202000c0; /* középbarna */
	--background: #20200080; /* világos barna (fapác) */
	--background: #90602080; /* barack *//* -> .container */
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	box-shadow: 0em 0em var(--fade-len) var(--fade-len) var(--background);
	background: var(--background);
}

body>header nav a:focus, body>header nav a:hover, body>header nav a:active {
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	--background: #90602080; /* barack *//* -> .container */
	box-shadow: 0em 0em var(--fade-len) var(--fade-len) var(--background);
	/* box-shadow: 0em 0em var(--fade-len) calc(var(--fade-len) - 4px) var(--background); */
	background: var(--background);
}

/* body>header nav a:visited { color: inherit; } */


/*
* Lábléc — elérhetőségek
*/

body>footer section {
	/*
	columns: 3 auto;
	column-gap: 2em;
	*/
	display: flex;
	flex-flow: row;
	justify-content: center;
}

body>footer section div {
	margin: 0 1.5em;
	/* break-inside: avoid; */
}

body>footer section h3 {
	margin-bottom: 10px;
}


/*
* Naptár, túra kártyák
*/

.kategoria {
  display: flex;
  flex-wrap: wrap;
}

.kategoria h3 {
    width: 100%;
    text-align: center;
}

.tura {
	width: 10em;
  margin: 0.5em;
  border-radius: 0.4em;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	transition: all 0.1s ease-in;
	box-shadow: 2px 2px 16px 4px #80400080;
	box-shadow: 0px 2px 8px 4px #80400080;
}

.tura:hover, .tura:focus-within {
	box-shadow: 3px 6px 16px 8px #804000a0;
	box-shadow: 0px 0px 12px 10px #80400080;
}

/* .tura a:visited {} */

.tura h4 {
}	

.tura:hover h4, .tura:focus-within h4 {
}

.tura img {
	width: 100%;
	/* width: 135px; */
}

.tura h4 {
	/* position: absolute; */
	margin: 0.5em;
}

.tura .ar {
	margin: 0.5em;
}

.tura .reszletek {
	float: right;
	margin-right: 2em;
}

.tura:hover .reszletek {
	/* margin-left: 2em; */
	margin-right: 1.5em;
}


