/*
* Közös
*/

[hidden], .hidden {
	display: none;
}

a {
	text-decoration: none;
	font-weight: bolder;
}

a:hover, a:active, a:focus {
	outline: 0;
}


/*
* Responsive méretek
*/

/* For smaller screens */

@media only screen and (max-width: 1023px) {
	body {
		font-size: 0.8em;
		line-height: 1.5em;
	}
}

/* For mobile devices */

@media handheld, only screen and (max-width: 767px) {
	body {
		font-size: 16px;
		-webkit-text-size-adjust: none;
	}
	body, .container {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 0px;
	}
	.tura {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}
}


/*
* Keret
*/

body {
	/* font: bolder 100% cursive; */
	transition: all 0.3s ease-in-out;
	background: url("/kepek/back.jpg");
	margin: 0;
}

body>header, body>footer {
	width: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

body>header {
	box-shadow: 0 0 20px 4px rgba(72, 20, 20, 0.8);
	background: rgba(132, 33, 33, 0.66);
	color: white;
	overflow: visible;
}

body>footer {
	box-shadow: 0 0 20px 0 black;
	background: rgba(45, 26, 6, 0.9);
	color: white;
	overflow: hidden;
}

body>header>*,
.container {
	max-width: 80rem;
}

.container {
	max-width: 80rem;
	min-width: 755px;
	margin: 1rem auto;
	width: 100%;
	background: rgba(202, 131, 90, 0.72);
	background: rgba(230, 147, 75, 0.37);
	box-shadow: 0 0 10px 5px rgba(62, 31, 4, 0.66);
	margin-bottom: 20px;
	padding: 0;
	overflow: hidden;
	position: relative;
	display: block;
}

.main {
	padding: 20px;
	position: relative;
}

section {
	font-family: serif;
}

ul li {
	list-style-type: none;
}

ul, ol {
	padding: 0;
	margin: 0;
}

.flexrow {
	display: flex;
	justify-content: space-around;
}


/*
* Fejléc — navigációs menü
*/

body>header nav {
	--bgcolor: lightblue;
	--bgcolor-active: lightgreen;
	display: flex;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#35000000, endColorstr=#35000000);
}
/*
body>header nav>* {
	padding: 5px 20px;
	margin: 10px 10px;
	border-radius: 5px;
	background-color: var(--bgcolor);
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bolder;
}

body>header nav>*:hover, nav>*.active {
	background-color: var(--bgcolor-active);
}
*/
body>header nav a {
	float: left;
	font-size: 1.3em;
	font-weight: bold;
	padding: 20px;
}

body>header nav a, nav a:hover, nav a:visited {
	color: #fff;
}


/*
* Lábléc — elérhetőségek
*/

body>footer section {
	/*
	columns: 3 auto;
	column-gap: 2rem;
	*/
	display: flex;
	flex-flow: row;
	max-width: 64rem;
	margin: 1rem auto;
}

body>footer section div {
	margin: 0 1.5em;
	/* break-inside: avoid; */
}

body>footer section h3 {
	margin-top: 0;
}


/*
* Naptár, túra kártyák
*/

.kategoria h2 {
}

.kategoria {
	clear: both;
}

.tura {
	float: left;
	display: flex;
	flex-flow: column;
	box-shadow: 0 0 10px 0 rgba(128, 128, 128, 1);
	position: relative;
	margin: 1rem;
	width: 10rem;
	transition: all 0.3s ease-in-out;
}

.tura:hover, .tura:focus-within {
	box-shadow: 0 0 40px 2px rgba(128, 128, 128, 1);
}

/* .tura a:visited {} */

.tura h4 {
	color: #cd2c2c;
}	

.tura:hover h4, .tura:focus-within h4 {
	color: #9c0f0f;
	text-decoration: underline;
}

.tura img {
	width: 100%;
	/* width: 135px; */
}

.tura h4 {
	/* position: absolute; */
	font-size: 1.3em;
	margin: 5px;
}

.tura .ar {
	font-size: 1.0em;
	margin: 5px;
}

.tura .reszletek {
	float: right;
	margin-right: 2em;
}

.tura:hover .reszletek {
	/* margin-left: 2em; */
	margin-right: 0;
}


