/*
* Közös
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	background-repeat: no-repeat;
	box-sizing: border-box; 
	/* vertical-align: middle; */
	transition: all 0.2s ease;
	transition: all 0.1s ease-in;
}

body {
	font-family: 'Roboto', sans-serif;
}

[hidden], .hidden {
	display: none;
}

ul li {
	/* list-style-type: none; */
}

ul, ol {
	padding: 0;
	margin: 0;
}

.flexrow {
	display: flex;
	align-items: center;
	/*justify-content: space-around;*/
}

.video-sizer {
	position: relative;
	width: 100%;
	/* padding-top: 25px; */
	padding-bottom: 56.25%; /* 16:9 */
	padding-bottom: attr(height)-rel;
}
.video-sizer iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

/*
* Link színezés
*/

a {
	text-decoration: none;
	font-weight: bolder;
	color: #cac2b2;
	color: #bfa36c;
	color: #ffdd99;
	color: wheat;
	color: burlywood;
	color: #f0f080;
	color: #ffddbb;
}
/*
a:visited, a:focus, a:hover, a:active {
	outline: 0;
}*/

/*
* The order of :visited, :focus, :hover, :active matters, as it declares its precedence, last effective one being the dominant:
* - an element being pressed is :active
* - overriding the color effective under the mouse :hover
* - more dominant than the color of the (keyboard) :focus element
* - least important being the feedback of :visited links
*/
/* a:visited { color: burlywood; } *//* Meglátogatott linkek nem kapnak saját színt: nem mutat jól a navigációs fejlécen */
a.active { color: #ffb860; }
a:focus, a:hover { color: #ffff40; color: gold; }
a:active { color: orange; }


/*
* Szöveg színezés
*/

body {
	color: #cac2b2;
	color: #bfa36c;
	color: #ffddbb;
	color: #ffdd99;
	color: #f0f080;
	color: #f0f040;
	color: gold;
	color: goldenrod;
	color: #ffb860;
	color: wheat;
	color: burlywood;
	color: lightgoldenrodyellow;
}

.highlight {
	font-weight: bold;
	font-size: 1.05em;
	color: goldenrod;
	color: gold;
	color: #f0f040;
	color: #f0f080;
	color: #ffddbb;
	color: #ffdd99;
	color: #ffb860;
}

/*section.main>.description>h2,*/
article.main h1 {
	/*margin: 0em 3em 1em;*/
	text-align: center;
	font-size: 2.25rem;
	font-weight: bold;
	color: burlywood;
	color: wheat;
	color: lightgoldenrodyellow;
	color: #ffdd99;
	color: #ffb860;
	color: gold;
	color: goldenrod;
}

article.main h2 {
	margin: 0.5em -1em;
	font-size: 2.25rem;
	font-weight: bold;
	color: burlywood;
	color: wheat;
	color: lightgoldenrodyellow;
	color: #ffdd99;
	color: goldenrod;
	color: gold;
	color: #ffb860;
}

/*section.main>.description,*/
article.main {
	font-size: 1.2em;
	--background: #90602080; /* barack *//* -> section.main */
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	--background: #20200080; /* világos barna (fapác) */
	--background: #80400080; /* halvány barna - article.card */
	--fade-len: 4em;
	padding: calc(4em - var(--fade-len)) calc(5em - var(--fade-len));
	padding: 0em 1em;
	margin: calc(var(--fade-len) + 2em);
	margin: 4em;
	border-radius: calc(var(--border-radius) + 4em);
	box-shadow: 0em 0em var(--fade-len) calc(var(--fade-len) - 4px) var(--background);
	background: var(--background);
}


/*
* Keret méretezés
*/

body {
	background: url("/kepek/back.jpg");
	margin: 0;
	--max-width: 80rem;
	--border-radius: 2em;
}

body>header, body>footer {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

body>header>* {
	max-width: var(--max-width);
	margin: 0 auto;
}

body>footer>section {
	max-width: 64em;
	max-width: calc(var(--max-width) * 0.8);
	margin: 2em auto;
}

/* body>header {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
} */

body>footer {
	padding: 2em;
	/* border-radius: var(--border-radius) var(--border-radius) 0 0; */
}

section.main {
	max-width: var(--max-width);
	/* min-width: 755px; */
	min-height: 32em;
	width: 100%;
	box-sizing: border-box;
	padding: var(--border-radius);
	margin: 2em auto 3em;
	--border-radius: 4em;
	border-radius: var(--border-radius);
	overflow: hidden;
	position: relative;
}



/*
* Keret színezés
*/

body>header {
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	--background: #90602080; /* barack *//* -> section.main */
	--background: #2d1a06e6; /* sötétbarna */
	--background: #202000c0; /* középbarna */
	--background: #80400080; /* halvány barna - article.card */
	--background: #20200080; /* világos barna (fapác) */
	--fade-len: 1em;
	box-shadow: 0 0 20px 0 black;
	box-shadow: 0 0 0.5em 0.4em #20200080;
	box-shadow: 0 0 20px 4px rgba(72, 20, 20, 0.8);
	box-shadow: 0em 0em var(--fade-len) var(--fade-len) var(--background);
	box-shadow: 0em 0em var(--fade-len) calc(var(--fade-len) - 4px) var(--background);
	box-shadow: 0em var(--fade-len) var(--fade-len) 0em var(--background);
	box-shadow: 0em calc(var(--fade-len) - 4px) var(--fade-len) 0em var(--background);
	background: var(--background);
	overflow: visible;
}

body>footer {
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	--background: #90602080; /* barack *//* -> section.main */
	--background: #2d1a06e6; /* sötétbarna */
	--background: #202000c0; /* középbarna */
	--background: #80400080; /* halvány barna - article.card */
	--background: #20200080; /* világos barna (fapác) */
	--fade-len: 1em;
	box-shadow: 0 0 20px 0 black;
	box-shadow: 0 0 0.5em 0.4em #20200080;
	box-shadow: 0px -20px 24px 0px #30200cf0;
	box-shadow: 0 0 20px 4px rgba(72, 20, 20, 0.8);
	box-shadow: 0em 0em var(--fade-len) var(--fade-len) var(--background);
	box-shadow: 0em 0em var(--fade-len) calc(var(--fade-len) - 4px) var(--background);
	background: var(--background);
	overflow: hidden;
}

body>div {
}

/*main,*/
section.main {
	--background: rgba(202, 131, 90, 0.72);
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	--background: #90602080; /* barack *//* -> section.main */
	--background: rgba(230, 147, 75, 0.37);
	box-shadow: 0 0 10px 5px rgba(62, 31, 4, 0.66);
	/*box-shadow: 0em 0em var(--fade-len) calc(var(--fade-len) - 4px) var(--background);*/
	background: var(--background);
}


/*
* Fejléc — navigációs menü
*/

body>header nav {
	display: flex;
	flex-flow: wrap;
	justify-content: flex-end;
	box-sizing: border-box;
	max-width: 50em;
	/* padding: 0 calc(var(--border-radius) * 2); */
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#35000000, endColorstr=#35000000); */
	font-size: 1.25em;
	font-weight: bold;
	/* font-family: Helvetica, Arial, sans-serif; */
}

body>header nav span[grow] {
	flex-grow: 1;	/* kitölti a teljes szabad teret a gombok között */
}

body>header nav a {
	padding: 0.2em 0.5em;
	margin: 0.5em 1em;
	border-radius: 0.5em;
	border-radius: calc(var(--fade-len) + 0.1em);
	--fade-len: 0.5em;
	/* box-shadow: 0 0 20px 0 black; */
	/* box-shadow: 0 0 0.5em 0.4em #20200080; */
	/* box-shadow: 0 0 20px 4px rgba(72, 20, 20, 0.8); */
}

body>header nav a.active {
	--background: #2d1a06e6; /* sötétbarna */
	--background: #202000c0; /* középbarna */
	--background: #20200080; /* világos barna (fapác) */
	--background: #90602080; /* barack *//* -> section.main */
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	--background: #803030b0; /* piros */
	--background: #804020c0; /* világos narancs */
	box-shadow: 0em 0em var(--fade-len) var(--fade-len) var(--background);
	background: var(--background);
}

body>header nav a:focus, body>header nav a:hover, body>header nav a:active {
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	--background: #90602080; /* barack *//* -> section.main */
	box-shadow: 0em 0em var(--fade-len) var(--fade-len) var(--background);
	/* box-shadow: 0em 0em var(--fade-len) calc(var(--fade-len) - 4px) var(--background); */
	background: var(--background);
}

/* body>header nav a:visited { color: inherit; } */


/*
* Lábléc
*/

body>footer section {
	/*
	columns: 3 auto;
	column-gap: 2em;
	*/
	display: flex;
	flex-flow: row;
	place-content: center;
}

body>footer section div {
	margin: 0 1.5em;
	/* break-inside: avoid; */
}

body>footer {
	/*color: #cac2b2;  */
	/*color: #bfa36c;  */
	/*color: #ffdd99;  */
	/*color: wheat;    */
	/*color: burlywood;*/
}

body>footer h1 {
	color: antiquewhite;
	margin: auto 2em;
}
body>footer h2 {
	margin: 0;
	/* color: goldenrod; */
}
body>footer h3 {
	margin: 0;
	margin-bottom: 0.5em;
}

.elerhetosegeink dl {
	display: grid;
	grid-auto-columns: max-content;
	grid-auto-rows: max-content;
	place-content: center;
	text-align: start;
}
.elerhetosegeink dt { grid-column: 1; font-weight: bold; color: #ffb860; }
.elerhetosegeink dd { grid-column: 2; margin-left: 2em; color: burlywood; }


/*
* Naptár, túra kártyák
*/

.kategoria {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.kategoria h3 {
	width: 100%;
	text-align: center;
}

article.card {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	position: relative;
	width: 30em;
	text-align: center;
	/* font-size: 0.9em; */
	border-radius: 0.5em;
	--background: #90602080; /* barack *//* -> section.main */
	--background: #842121a8; /* piros *//* rgba(132, 33, 33, 0.66); */
	--background: #20200080; /* világos barna (fapác) */
	--background: #80400080; /* halvány barna - article.card */
	--background: #88440022; /* harmat barna */
	--shadow: #20200080;
	background: var(--background);
}


.blurred article.card {
	margin: 24px;
	margin: calc(var(--fade-len) + 16px);
	margin: calc(var(--fade-len) + 12px);
	--fade-len: 4px;
	--fade-len: 8px;
	--fade-len: 12px;
	--fade-len: 20px;
	--fade-len: 16px;
	box-shadow: 0px 0px 0px var(--fade-len) var(--background);
	box-shadow: 0px 0px 4px var(--fade-len) var(--background);
	box-shadow: 0px 0px 8px var(--fade-len) var(--background);
	box-shadow: 0px 0px calc(var(--fade-len) + 0px) var(--fade-len) var(--background);
	box-shadow: 0px 0px calc(var(--fade-len) + 8px) var(--fade-len) var(--background);
	box-shadow: 0px 0px calc(var(--fade-len) + 4px) var(--fade-len) var(--background);
}

.blurred article.card:hover, article.card:focus-within {
	--fade-len-h: calc(var(--fade-len) + 6px);
	--fade-len-h: calc(var(--fade-len) + 8px);
	box-shadow: 0px 0px calc(var(--fade-len-h) - 0px) var(--fade-len-h) var(--background);
	box-shadow: 0px 0px calc(var(--fade-len-h) - 4px) var(--fade-len-h) var(--background);
	box-shadow: 0px 0px calc(var(--fade-len-h) - 8px) var(--fade-len-h) var(--background);
}


article.card {
	margin: 1em;
	--fade-len: 1px;
	--fade-len: 4px;
	--fade-len: 2px;
	--fade-len: 3px;
	box-shadow: 1px 3px 7px var(--fade-len) var(--shadow);
}

article.card:hover, article.card:focus-within {
	--fade-len-h: calc(var(--fade-len) + 2px);
	--fade-len-h: calc(var(--fade-len) + 6px);
	--fade-len-h: calc(var(--fade-len) + 4px);
	box-shadow: 2px 3px calc(var(--fade-len) + 4px) var(--fade-len-h) var(--shadow);
	box-shadow: 2px 3px calc(var(--fade-len) + 6px) var(--fade-len-h) var(--shadow);
	box-shadow: 2px 3px calc(var(--fade-len) + 12px) var(--fade-len-h) var(--shadow);
	box-shadow: 2px 3px calc(var(--fade-len) + 8px) var(--fade-len-h) var(--shadow);
	box-shadow: 2px 3px calc(var(--fade-len) + 10px) var(--fade-len-h) var(--shadow);
}


/* article.card a:visited {} */

article.card>a {
	height: 100%;
	display: inherit;
	flex-flow: inherit;
	/*justify-content: space-between;*/
	justify-content: inherit;
	align-items: center;
}

article.card:hover>a {
	color: inherit;
}

article.card h4 {
}	

article.card:hover h4, article.card:focus-within h4 {
}

article.card img {
	width: 80%;
	/* width: 135px; */
	margin-top: 1em;
	border-radius: 1em;
}

.img {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

article.card .img {
	width: 95%;
	height: 100%;
	min-height: 8em;
	flex-grow: 2;
	margin: 1em 0em;
	/* padding: 1em; */
	box-sizing: border-box;
	border-radius: 0.3em;
	opacity: 0.7;
	box-shadow: inset 0 0 1.5em 0.5em #804000d0;
}

article.card h4 {
	/* position: absolute; */
	/* margin: 0.5em 0.5em auto 0.5em; */
	/* margin: 0.5em 0.5em 0em 0.5em; */
	/* flex-grow: 2; */
}

article.card .ar {
	/* margin: 0.5em; */
	font-size: 0.8em;
	color: goldenrod;
	color: gold;
	color: #ffb860;
}

article.card .nyil {
	position: relative;
	left: 0;
	transition: all 0.15s ease-in;
}

article.card:hover .nyil {
	left: 1em;
	left: 0.4em;
}

article.card .button {
	font-size: 0.9em;
	padding: 0.3em;
	border-radius: 0.4em;
	background: --background;
	/* border: #804000 solid 2px; */
	box-shadow: 0 0 4px 3px #804000ff;
}

article.card .button:hover {
	background: #882222aa;
	background: coral;
	/* box-shadow: 0 0 4px 3px #ff775080; */
	background: #804000ff;
}


/*
* Slideshow
*/


.slideshow {
	position: relative;
}

.slide:first-child {
	position: relative;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	/* z-index: 1; */
	transition: opacity 1s;
}

.showing {
	opacity: 1;
	z-index: 2;
}

.overlay {
	position: absolute;
	width: 100%;
	bottom: 1em;
	left: 0em;
	z-index: 3;
	display: flex;
	flex-flow: column nowrap;
}

.overlay>* {
	padding: 0.5em 1em;
	margin: auto;
	/* opacity: 0.8; */
	background-color: #ffeedd80;
}

/*
* Tablet méretű kijelzők
*/

@media only screen and (max-width: 1023px) {
	section.main,
	article.main {
		margin: 0;
	}
	section.main {
		padding: 0;
	}
	article.main {
		padding: 0em 0.5em 1em;
	}
	article.main h2 {
		margin: 0.5em 0em;
	}
}


/*
* Mobil méretű kijelzők
*/

@media handheld, (max-width: 767px) {
	section.main {
		width: 100%;
		min-width: 0;
	}
	
	article.card {
	}

	body>header nav span[grow] {
		display: none;
	}
	body>header nav a {
		margin: 0.5em 0em;
	}
}

